/* Header */
.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--color-slate-800);
    color: var(--color-slate-200);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header-container {
    max-width: var(--breakpoint-lg);
    position: relative;
    margin: 0 auto;
    padding-inline: 3rem;
    padding-block: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-btn {
    width: 4rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    cursor: pointer;
    transition: all .2s;
}
.menu-btn:hover {
    filter: brightness(.5);
}
.menu-btn > span {
    width: 4rem;
    height: .4rem;
    border-radius: .5rem;
    background-color: #fff;
    transition: all .2s;
}
.nav-links {
    position: absolute;
    top: 9.6rem;
    right: 0;
    width: 15.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.nav-links ul {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .2s;
}
.nav-links ul li {
    width: 100%;
    padding-block: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    background-color: var(--color-slate-800);
}
.nav-links a {
    text-decoration: none;
    color: var(--color-slate-200);
    transition: all .2s;
}
.nav-links ul li:hover {
    background-color: var(--color-slate-200);
}
.nav-links ul li:hover > a {
    color: var(--color-slate-800);
}

#menu-toggle:checked ~ .nav-links ul {
    height: 12rem;
}
#menu-toggle:checked + label span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 10px);
}

#menu-toggle:checked + label span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + label span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -9px);
}