.input {
    width: 95%;
    border: none;
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    padding: 1.7rem .7rem;
    border-radius: .5rem;
    border: 2px solid var(--color-slate-300);
    background-color: var(--color-slate-300);
    resize: none;
}
.input::placeholder, .button {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--font-family-base);
}
.input:focus {
    outline: none;
    border: 2px solid var(--color-slate-700);
}